/* Phone */
@import url("phonecss.css") only screen and (min-width:280px) and (max-width:320px);
/* Tablet */
@import url("tabletcss.css") only screen and (min-width:321px) and (max-width:768px);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}
a { 
	outline: none;
}
img {
	border:none;
}
.clearer {
	clear:both;
}
blockquote {
	background: #F2F2F2 url(images/blockquote.png) no-repeat top left;
	border: 1px solid #D7D7D7;
	padding: 10px 10px 10px 40px;
}
/*-- Main structure for the layout --*/
body {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	background: #000;
}
#background {
	background: #F2F2F2;
}
#outerWrapper {
	margin: 0 auto 0 auto;
	text-align: left;
	width: 300px;
}
#contentWrapper {
	overflow: hidden;
	clear:left;
}
#sidebar {
	float: right;
	padding: 20px 0px 10px 0px;
	width: 310px;
}
#Content {
	margin: 0 0px 0 0;
	padding: 20px 0px 10px;
	float: left;
	width: 640px;
}
#Footer {
	border-top: solid 1px #666;
	padding: 10px 10px 0px;
	background: #000 url(images/footerbg.png) repeat-x top;
	height: 61px;
	color:#999;
}

/*-- Heading styles --*/
h1 {
	font: normal 26px/36px Verdana, Geneva, sans-serif;
	letter-spacing: -1px;
}
h2 {
	font: bold 20px/30px Verdana, Geneva, sans-serif;
	letter-spacing: -1px;
}
h3 {
	font: bold 17px/27px Verdana, Geneva, sans-serif;
	letter-spacing: -1px;
	color: #069;
}
h4 {
	font: bold 14px/24px Verdana, Geneva, sans-serif;
}
h5 {
	font: bold 13px/20px Verdana, Geneva, sans-serif;
	color: #069;
}
h6 {
	font: bold 12px/18px Verdana, Geneva, sans-serif;
}

/*-- Link styles --*/
a, a:link {
	color: #069;
	text-decoration: none;
}
a:hover {
	color: #F93;
	text-decoration:underline;
}
a:visited, a:active {
	color: #F96;
}
.entry a.more-link { /*-- Removes underline from more link --*/
	text-decoration:none;
}
#header a, #header a:link, #header a:active, #header a:visited {
	color: #FFF;
}
#header a:hover {
	color: #0CF;
}
#Footer a, #Footer a:link, #Footer a:active, #Footer a:visited {
	color: #CCC;
}
#Footer a:hover {
	color: #FFF;
}

/*-- Header styles --*/
#headerwrap {
	padding: 0;
	text-align: center;
	background: url(images/headerbg.png) repeat-x top;
}
#header {
	width:960px;
	height:94px;
	margin:0px auto;
	text-align:left;
	background: url(images/headerfill.jpg) no-repeat center top;
}
#header p {
	margin: 0px;
}
.title { 
	font: bold 30px/30px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	float: left;
	width: 600px;
	padding-top: 15px;
}
.title a:hover {
	text-decoration:none;	
}
.description { 
	font: 16px/20px Georgia, "Times New Roman", Times, serif;
	color: #FFF;
	float: left;
	clear: left;
	padding-top: 7px;
}
.topnav {
	list-style: none;
	/* float:right;
	color: #F0F0F0;
	text-align:right;
	font: bold normal 12px Arial, Helvetica, sans-serif;
	padding-right: 7px;
	padding-top: 10px; */
}

/* Navigation Styles */
#menu {
	width:960px;
	position:relative;
	margin:0 auto;
	display:block;
	height:35px;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
#menu ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
}
#menu ul li a {
	display:block;
	float:left;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	padding:8px 20px 0 20px;
}
#menu ul li a:hover {
	color:#FF6600;
	height:27px;
	background:transparent url(imagesnav_bg.png/) 0px -35px no-repeat;
}


/*-- Post styles --*/
.posttitle {
	font-size: 24px;
	font-weight: normal;
	border-bottom: 1px solid #F2F2F2;
	padding-bottom: 5px;
}
.posttitle a:hover {
	text-decoration:none;
}

#navwrap {
	height:35px;
	background: transparent url(images/nav_bg.png) repeat-x top left;
	clear: both;
}

/*-- Sidebar styles --*/
#sidebar h5 { /*-- This is the title of each widget --*/
	background: url(images/sidebarh3.jpg) no-repeat top center;
	font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
#sidebar ul {
	padding: 8px;
	margin-bottom: 10px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#sidebar ul ul {
	border:none;
	background:none;
}
#sidebar ul li {
	border: 1px solid #CCC;
	background: #FFF url(images/boxbg.png) repeat-x top;
	margin-bottom:10px;
	padding: 7px;
}
#sidebar ul li ul li {
	margin-left: 8px;
	background: url(images/arrow.png) no-repeat left top;
	padding-left: 9px;
	padding-bottom: 5px;
	border:none;
	margin-bottom:0;
	padding-top: 0px;
}
#sidebar ul.children {
	padding-top:3px;
}
#sidebar ul.children li { /*-- This styles the sub categories in the hierarchy --*/
	background: url(images/childbullets.png) no-repeat left top;
	padding-bottom:2px;
}

.box {
	background: #FFF url(images/boxbg.png) repeat-x top;
	padding: 20px;
	border: 1px solid #CCC;
	margin-bottom: 10px;
}

.right {
	float: right;
	margin-bottom: 10px;
	margin-left: 10px;
}
.left {
	float: left;
	margin-right: 20px;
	margin-bottom: 5px;
}
