/* Green */

a {color: #336600;}

a:hover {color: #99cc66;}

#imenu {
	background: #336600; /* Old browsers */
	background: -moz-linear-gradient(top,  #99cc66 0%, #336600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99cc66), color-stop(100%,#336600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #99cc66 0%,#336600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #99cc66 0%,#336600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #99cc66 0%,#336600 100%); /* IE10+ */
	background: linear-gradient(top,  #99cc66 0%,#336600 100%); /* W3C */
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	border: none;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
	overflow: visible;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-appearance: none;
	margin-bottom: 15px;
	margin-left:0px;
}

/* Half Nav  */

#halfnav{float:right;}
#halfnav ul, #halfnav ul li{display:inline;list-style:none;padding:0;margin:0}
#halfnav ul li a{
	display:inline-block;
	margin: 5px;
	font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;
	font-size:16px;
	padding: 5px;
	color:#fff;
	line-height:20px;
	text-decoration:none;
	background: #336600; /* Old browsers */
	background: -moz-linear-gradient(top,  #99cc66 0%, #336600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99cc66), color-stop(100%,#336600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #99cc66 0%,#336600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #99cc66 0%,#336600 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #99cc66 0%,#336600 100%); /* IE10+ */
	background: linear-gradient(top,  #99cc66 0%,#336600 100%); /* W3C */
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
	border: 1px solid #336600;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#halfnav ul li a:hover{	border: 1px solid #222;box-shadow:inner 0 0 5px #000;-moz-box-shadow:inset 0 0 5px #000;-webkit-box-shadow:inset 0 0 5px#000;background:#444}
#halfnav .current-menu-item a{border: 1px solid #000;}
