/* iFeature Pro 3 Style.css */

/* Reset and Design Constant Styles */

*, html, body{padding:0;border:0;margin:0;}
body, div, p, input, textarea{font-size:14px;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
p{margin: 0 0 10px 0;clear: both;}
a{color:#0085CF;text-decoration:none}
a:hover{text-decoration:none}
#wrapper input, textarea{color:#666;border:#ccc 1px solid;border-radius:2px;-moz-border-radius: 2px;}
input[type=submit]{cursor:pointer;}
input {border: 1px solid #ccc;}
input[type=submit]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
input[type=reset]{font-size: 12px;padding: 2px;margin-top: 5px;border: 1px solid #999;border-radius: 3px;-moz-border-radius: 3px;}
a img{border:none}
a{outline:none}

.pagination {
clear:both;
padding:2px 0;
position:relative;
font-size:11px;
line-height:13px;
margin-bottom: 38px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}

#image_pagination {border: 1px solid #DDD; margin-bottom: 15px; background: #FFF; display: block;}

.image_wrap {padding: 10px 15px 5px 15px; height: 105px;}

.previous_image {float: left;}

.next_image {float: right;}

#sidebar {right: -2px;}

#register {text-align: right; list-style: none;}

#register li {float: right; display: block; padding-left: 5px;}

#content {*margin-left: 0px; *margin-top: 15px;}

#sidebar {*margin-top: 15px;}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding: 5px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: #fff;
	margin-bottom: 15px;
}

.featured-image { float : inherit\9 !important; }

/* Fonts  */

.meta {color: #989898;font-size: 12px;font-weight: 500;padding-bottom: 10px;}

.entry {}

.entry p {clear: none;}

.clear {clear: both;}

.error {font-size:28px; text-align:center; }

a:hover {color: #5ca9d6;}

/* Header  */

header {margin-top: 15px;}

#header_contact{ text-align:right;}

#logo {margin-bottom: 5px;}

#banner {margin-bottom: 10px;}

/* Social Icons  */

#social {margin-bottom: 0px;}

.icons {text-align:right;margin-top: 10px;}

.icons a img {opacity:.6; padding-left: 3px;}

.icons a:hover img {opacity:1;}

/* Nav  */

#nav{position:relative;z-index:2000}
#nav .parent > a, #nav .parent > a:hover{background-image:url(../images/arrow.png);background-position:right;background-repeat:no-repeat}
#nav ul ul .parent > a, #nav ul ul .parent:hover > a:hover, #nav ul ul li:hover ul .parent > a, #nav ul ul li:hover ul .parent > a:hover{background-image:url(../images/arrow-right.png);background-position:right;background-repeat:no-repeat}
#nav ul, #nav ul li{display:inline;list-style:none;padding:0;margin:0}
#nav ul li a{display:inline-block;font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:14px;color:#fff;line-height:36px;text-decoration:none;text-shadow:1px 1px 1px #333;padding:0 15px;margin-left:-4px;border-right:#777 1px solid}
#nav ul li a:hover{box-shadow:inner 0 0 5px #000;-moz-box-shadow:inset 0 0 5px #000;-webkit-box-shadow:inset 0 0 5px#000;background:#444}
#nav .current-menu-item a{color:#ccc;}
#nav .current-menu-item .sub-menu a{color:#fff;text-shadow:1px 1px 1px #333}
#nav .menu > li:first-child a:hover{border-radius:0}
#nav .menu .sub-menu li a:hover{border-radius:0}
#nav ul li{position:relative}
#nav li ul{display:none;position:absolute;top:27px;left:7px}
#nav li ul a{background:#555}
#nav ul ul li:hover ul, #nav ul ul ul li:hover ul{left:0;margin:-37px 0 11px 180px}
#nav ul li:hover ul{display:inline-block}
#nav ul ul, #nav ul li:hover ul ul, #nav ul ul li:hover ul ul{display:none}
#nav ul li:hover ul, #nav ul ul li:hover ul, #nav ul ul ul li:hover ul{display:block}
#nav ul li:hover ul li a, #nav ul ul li:hover ul li a, #nav ul ul ul li:hover ul li a{border:#777 1px solid;margin:-1px 0 0 -11px}
#nav ul li:hover ul li a{width:150px;padding:0 14px}
#nav ul ul li:hover ul li a{width:150px;padding:0 14px;background-color:#888}
#nav ul ul ul li:hover ul li a{width:150px;padding:0 14px;background-color:#aaa}
#nav .children {z-index: 4000;}


/* Home Button */

#home {float: left;border-right:#777 1px solid;margin-right:4px;margin-left:15px; height: 36px;}
#home a:hover{opacity: .5}
#nohome {float: left; margin-right:4px;margin-left:5px; height: 35px;}

/* Search Bar */

.searchform {
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px;
	border-radius: 15px;
	width: 160px;
	padding: 0;
	margin: 7px 5px 5px 10px;
	height: 20px;
	box-shadow:inset 0 0 1px #222;
	background: #fff;
	float: right;
	margin-right: 20px;
}

.center .searchform {float:none;}

#morefoot .searchform {float:left;}

.searchform .s{
	margin:0;
	border: none;
	margin: 3px 2px 2px 20px;
	font-size: 12px;
	height: 14px;
	width:	130px;
	color: #333;
	overflow: hidden;
}

#magnify {float:left;position:absolute;margin: 2px 0 0 5px;}

#magnify {margin: 0 0 0 5px\0/IE8+9; /* IE8+9  */}

.searchform .s:focus {outline:0; border:none;}

.searchform .searchsubmit {display:none;}

/* Post Container Styling  */

.post_container {
	padding: 10px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: #fff;
	margin-bottom: 10px;
}

.post_container ul {list-style: disc;margin-left: 21px;list-style-position: inside;}

.postformats {
	float:right;
	margin: -10px -15px 0 0px;
	background: #dedede;
	height: 46px;
	width: 50px;
	border-radius: 0px 4px 0px;
	-moz-border-radius: 0px 4px 0px;	
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#postbar {
	margin: -33px 0px 0px 0px;
	width: 99.7%;
	border-top: 1px #e5e5e5 solid;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	position: absolute;
	height: 22px;
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ededed 40%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(40%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

#comments {text-align:right;float:right;padding-top: 3px;font-size: 12px;}

#share {text-align:left;float:left;padding-top: 3px;}

.share a img {opacity:.8;}

.share a:hover img {opacity:1;}

.next-posts-single {text-align:right;padding:5px; margin-top:-35px;}

.prev-posts-single {text-align:left;padding:5px; margin-top: -10px; margin-bottom: 5px; margin-left: -5px; max-width:300px;}

.tags {margin-bottom: 15px;font-size: 12px;}

#fb {width: 440px; margin-bottom: 5px;}

.gplusone {margin-bottom: 10px;}

.post-edit-link {background-color: #757575;padding: 2px 3px;color: white;font-size: 10px;border-radius: 3px;-moz-border-radius: 3px;}

/* Posts Navigation */

.next-posts {float: left;padding: 5px 0 5px 0; }

.prev-posts { float: right;padding: 5px 0 5px 0; }

#crumbs {border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: #fff;
	margin-bottom: 15px;
}

.crumbs_text {padding: 2px 0 7px 15px;}

.pagnext-posts {float: left;padding: 5px;margin-bottom: 10px;}

.pagprev-posts { float: right;padding: 5px;margin-bottom: 10px; }

/* HTML styling  */

dt {font-weight: bold; margin-top: 5px; margin-bottom: 5px; margin-left: 26px; }

dd {margin-bottom: 15px; margin-left: 26px; }

ul, ol { margin: 0 0 10px 0; }

th {padding-right: 10px; padding-bottom: 10px;}

td {border-top: 1px solid #DDD;padding: 6px 10px 6px 0;}

table {border-bottom: 1px solid #DDD;}
table thead tr th, table tfoot tr td {padding: 0px;}

pre {margin-left: 20px;}

ol, ul {list-style-position: inside;margin-left: 21px;}

/* Sidebar  */

.widget-container {
	color: #222;
	margin-bottom: 10px;
	padding: 0px 10px 10px 10px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	background: #fff; /* Old browsers */
}

.widget-container li {list-style: none; margin-left: 5px;}

.textwidget {padding-top: 10px;}

#sidebar .widget-container td {padding-right: 15px;}

#sidebar .widget-container th {padding-right: 30px}

#sidebar240 .widget-container td {padding-right: 1px;}

#sidebar240 .widget-container th {padding-right: 18px}

.widget-container .searchform {float: none;}

.widget-title{font-size:18px;color:#444;text-shadow:none;padding:3px;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;margin: 0 -10px 0 -10px;padding: 2px 10px 2px 10px;border-bottom: 1px solid #aaa;background: #f8f8f8;/* Old browsers */background: -moz-linear-gradient(top,  #f8f8f8 0%, #ededed 40%, #dddddd 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(40%,#ededed), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* IE10+ */background: linear-gradient(top,  #f8f8f8 0%,#ededed 40%,#dddddd 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */}
.widget-container ul{padding-top:10px; margin-left: 0px;}

/* Blog and Post Styles */

.post{}
.entry-title{margin-bottom:2px}
.single .entry-title{text-align:left;line-height:30px;margin-top:12px;margin-bottom:10px}
.entry-title a{font-size:22px}
.nav-previous{text-align:left}
.nav-next{text-align:right}
.entry-meta, .entry-utility, .entry-meta a, .entry-utility a{font-size:12px}
.entry-meta, .entry-utility{color:#888}
.comment, .trackback, .pingback{padding:10px;margin:10px 0 10px 0}
.odd{background:#f8f8f8}
#form-allowed-tags code{font-size:12px}
#respond input, #respond textarea{margin:0 5px 5px 0;overflow:auto}
#respond textarea{width:99%;height:150px}
.avatar{float:left}

/* Footer  */

#footer {
	background: #222;
	border-top: 2px solid #ccc;
}

.footer-widgets {
	color: #fff;
	margin-top: 15px;
	margin-bottom: 10px;
	*margin-left: 3.3%;
}

.footer-widget-title {
	font-size:18px;color:#fff;font-weight: 400;
}

.footer-widgets ul{padding:5px 0px 5px 0px; margin-left: 0px;}

.footer-widgets li {
	list-style-type: none;
	padding-left: 0;
}

.footer-item ul {
	padding-left: 15px;
}

#afterfooter {
	width: 100%; 
	background: black; 
	color: white;
	border-top: 2px solid #333;
}

#afterfooterwrap {

	height:45px; 
	margin: auto;
	padding-top: 10px;
}

#afterfootercopyright {
	float: right;
	position: relative;
	margin-top: 5px;
	text-align: right;
}

#afterfootermenu {
	float:left;
	
	height: 40px;
	overflow: hidden;
	margin-top: 5px;
}

#afterfootermenu a {
	color: #F5F5F5;
}

#afterfootermenu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none; 
}

#afterfootermenu li {
	display: inline; 
	margin-right: 8px; 
}

#credit { height: 22px; z-index: 99; margin-top: 5px; text-align: center;}

/* WordPress Styles  */

.featured-image {margin-top:4px;margin-right: 12px;margin-bottom: 10px;}

.alignnone {
	display: block;
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.size-full {
	max-width: 100%;
	height: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 15px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 95%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}



blockquote { 
	background-color: #ccc;
	margin: 10px;
	padding: 3px;
}

blockquote p {margin: 10px; }

.sticky { }

.gallery-caption { }

/* Lists */

li {  }

/* Comments  */

.comments_container {
	background: #fff;
	padding: 5px 15px 20px 15px;
	border: 1px solid;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow:inset 0 0 2px #ccc;
	margin-bottom: 15px;

}

.commentsh2{
	font-size: 20px;
	font-weight: bold;
}



#comments .navigation { padding: 0 0 18px 0; }

label[for="comment"] {display: block;}

/* Comment lists  */

ol.commentlist { list-style: none; }
ol.commentlist p { margin-left: 8px; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { padding: 10px; }
ol.commentlist li.comment div.comment-author { }
ol.commentlist li.comment div.vcard { }
ol.commentlist li.comment div.vcard cite.fn { font-style: normal; }
ol.commentlist li.comment div.vcard cite.fn a.url { }
ol.commentlist li.comment div.vcard img.avatar { margin: 0 10px 10px 10px; }
ol.commentlist li.comment div.vcard img.avatar-32 { }
ol.commentlist li.comment div.vcard img.photo { }
ol.commentlist li.comment div.vcard span.says { }
ol.commentlist li.comment div.commentmetadata { }
ol.commentlist li.comment div.comment-meta { font-size: 11px; }
ol.commentlist li.comment div.comment-meta a { color: #888; }
ol.commentlist li.comment p { }
ol.commentlist li.comment ul { }
ol.commentlist li.comment div.reply { font-size: 11px; margin-left: 8px; }
ol.commentlist li.comment div.reply a { font-weight: bold; }
ol.commentlist li.comment ul.children { list-style: none; margin: 10px 0 0; }
ol.commentlist li.comment ul.children li { }
ol.commentlist li.comment ul.children li.alt { }
ol.commentlist li.comment ul.children li.bypostauthor { }
ol.commentlist li.comment ul.children li.byuser { }
ol.commentlist li.comment ul.children li.comment { }
ol.commentlist li.comment ul.children li.comment-author-admin { }
ol.commentlist li.comment ul.children li.depth-2 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-3 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-4 {  margin: 0 0 10px 10px; }
ol.commentlist li.comment ul.children li.depth-5 { }
ol.commentlist li.comment ul.children li.odd { }
ol.commentlist li.even { background: #fafafa;border: 1px solid #ccc;border-radius: 4px;-moz-border-radius: 4px; }
ol.commentlist li.odd { background: #fff;border: 1px solid #ccc;border-radius: 4px;-moz-border-radius: 4px; }
ol.commentlist li.parent { }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { }

form label {
	display: block;
	font-size: 13px;
	line-height: 18px;
	cursor: pointer;
	margin-bottom: 9px;
}

textarea {margin-top: 10px;padding-bottom: 10px;width: 90%;}

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

/* Custom Font Styles */

.posts_title a{
	text-decoration: none;
	font-weight: 400;
}

h1.description, h1.sitename {margin-bottom: 0px;}

.description {	
	font-size: 16px;
	margin-top:27px;
}

.sitename {
	font-size: 32px;
	font-weight: bolder;
}


/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {

}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
}