@charset "utf-8";
body  {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #CCCCCC;
}

img {
    border: none;
} 
#container  {
	width: 800px;
	text-align: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
} 
#shadowwrap {
	background-image: url(../images/page-shadow.gif);
	background-repeat: repeat-y;
	background-position: center;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#contentwrap {
	background-image: url(../images/content-background.gif);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #FFFFFF;
}

#header  {
	background-image: url(../images/header-background.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 95px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin: 0px;
} 

#logo {
	background-image: url(../images/.png);
	background-repeat: no-repeat;
	background-position: right center;
	width: 91px;
	height: 50px;
	padding-top: 10px;
	text-align: right;
	font-size: 10px;
	font-weight: bold;
	color: #00CCFF;
}
#logo a {
	color: #FFFFFF;
	text-decoration: ;
}
#logo a:hover {
	color: #00CCFF;
}

#sidebar1  {
	float: left; /* since this element is floated, a width must be given */
	width: 200px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
#sidebar1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#sidebar1 p {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 11px;
}

#sidebar1 .sidebarlt {
	background-color: #FFFFFF;
	padding: 7px;
	border: 1px solid #CCCCCC;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 15px;
	font-size: 11px;
}
#sidebar1 .sidebarlt p {
	margin: 0px;
	padding: 0px;
}

#sidebar1 .sidebardk {
	background-color: #E8E8E8;
	padding: 7px;
	border: 1px solid #CCCCCC;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 15px;
	font-size: 11px;
}
#sidebar1 .sidebardk p {
	margin: 0px;
	padding: 0px;
}

#menu {
	width: 200px;
	}
	
#menu li a {
	height: 24px;
	text-decoration: none;
	}	
	
#menu li a:link, #menu li a:visited {
	color: #333333;
	display: block;
	padding: 8px 0 0 30px;
	background-image: url(../images/menu.gif);
	font-weight: bold;
	}
	
#menu li a:hover {
	color: #000099;
	padding: 8px 0 0 32px;
	background-image: url(../images/menu.gif);
	background-position: 0 -32px;
	}
#mainContent  {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 220px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
} 
#mainContent a {
	font-weight: bold;
	color: #000099;
}
#mainContent a:hover {
	color: #0066FF;
}

#mainContent  h1  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000099;
	margin: 0px;
	font-weight: normal;
}
#mainContent  h2  {
	font-size: 18px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-bottom: 5px;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#mainContent  h3  {
	font-size: 12px;
	font-weight: bold;
}
#mainContent  p  {
	line-height: 18px;
}
#mainContent  li  {
	margin-bottom: 5px;
	line-height: 18px;
}
#mainContent  blockquote  {
	margin-right: 10px;
	margin-left: 10px;
	background-color: #F3F3F3;
	border: 1px solid #CCCCCC;
	padding-right: 10px;
	padding-left: 10px;
}
#signup table {
	background-color: #FAFAFA;
	color: #000000;
	width: 490px;
	border: 1px solid #E4E4E4;
	border-collapse: collapse;
	margin-left: 25px;
	margin-bottom: 20px;
} 

#signup td {
	border: 1px solid #CCCCCC;
	padding-left: 4px;
}
.labelcell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #666666;
	background-color: transparent;
	width: 220px;
} 

.fieldcell {
	background-color: #F6F6F6;
	color: #000000;
	text-align: right;
	margin-right: 0px;
	padding-right: 0px;
} 

.smalllabelcell {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: #666666;
	width: 100px;
} 

.smallfieldcell {
	background-color: #F6F6F6;
	color: #000000;
	text-align: right;
  
}
.fieldcell input {
	width: 220px;
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #E4E4E4;
	color: #102132;
	border: 1px solid #284279;
	margin-right: 0px;
} 

.smallfieldcell input {
	width: 120px;
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #E4E4E4;
	color: #102132;
	border: 1px solid #284279;
} 

.smallfieldcell select { 
 font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
 background-color: #D7E5F2; 
 color: #102132; 
 border: 1px solid #284279; 
}
.button {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #E4E4E4;
	color: #102132;
	margin-left: 12px;
	margin-top: 3px;
	margin-bottom: 2px;
}
.google160 {
	height: 600px;
	width: 170px;
	margin-left: 15px;
}

#footer  {
	background-color: #DDDDDD;
	background-image: url(../images/footer.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 55px;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 20px;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 0px;
	text-align: right;
	clear: both;
	float: left;
	width: 755px;
} 
#footer  p  {
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0;
	margin: 0;
}
#footer a {
	color: #00CCFF;
}
#footer a:hover {
	color: #FFFFFF;
}
#about {
	font-size: 9px;
	text-align: center;
	color: #999999;
	float: left;
	width: 800px;
	background-image: url(http://www.justdreamweaver.com/templates/link/spacer.gif);
	background-repeat: no-repeat;
}
#about a {
	color: #999999;
	text-decoration: none;
}


.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 15px;
	margin-bottom: 10px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 12px;
	margin-bottom: 10px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
