@charset "utf-8";
/* CSS Document */
body {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#FFF;
	
}


img{  
	border-style: none;
	margin:0 0 0 4em;
	
}
#top_nav{
	margin-top:0.9em;	
	background: #000;
    color: #FFF;
    display: block;
    font-family: MuseoSansRounded-500, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
    text-transform: uppercase;
      /* CSS3 */
    border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	
		
}
#top_nav li{
	display:inline-block;
	margin-top:1em;
	margin-bottom:1em;
	padding-right:25px;
}
a{
		color:#FFF;	
}


a:link{

     color: #000;
}
a:visited {
     color:green;
}



a:hover {
     text-decoration: none;
	 color:#C90;
	 
}
a:active {
     color : green;
}

/*getting class toplinks for a*/
a.topLinks{
	color:#FFF;
	font: bold 16px Century Gothic;
	
	
}
.toplinks:hover{
	color:#FC6;	
}
#mainbox{
		margin:0 auto;
		text-align:left;
		width:650px;
	
}
#topHeader{
	position:absolute;
	left:0px;
	right:8;
	top:0;
	margin-top:1.2em;
	margin-left:4em;
	float:left;
	
	
	
	
	
}
p {
    padding: 5px;
}


#footer{
    background-color: #fff;
    padding:15px;
    clear: both;
}
article{
	background:#FFF;
	border:1px groove #666;
	padding:10px;
	margin-bottom:15px;
		
}
article.alert{
		padding:15px;
		background:#FFF;
		color:#06C;
		margin-bottom:15px;
		margin-top:1.2em;
		
}
article footer{
		text-align:right;
		padding: 5px;
		color:#999;
}
aside{
		border:1px groove #000;
		padding:10px 0 10px 10px;
		width:200px;
		margin :15px 0 10px 10px;
		border-top-left-radius:3%;
		border-top-right-radius:3%;
		border-bottom-left-radius:3%;
		border-bottom-right-radius:3%;
				
}
aside#topSidebanner h5{
	background: url(/images/sidebarh3.jpg)) no-repeat top center;
	font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #C60;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
aside#topSidebanner{
				
		color:#C60;
		background-color:#FFF;
		font: bold 16px Century Gothic;
		text-shadow:0 1px 0 #000000;
		width:150px;
		right:170px;
		border:1px groove #CCC;
		padding:6px;
		background-color:#FFF;
		position:absolute;
		top:6em;
			
	
}
aside#social{
	border:1px groove #CCC;
	padding:6px;
	background-color:#FFF;
	position:absolute;
	top:12em;
	left: 100px;
	
}
aside footer{
		text-align:right;
		padding: 5px;
		color:#999;	
}
