/* ------------- "generic" styles */

body {
	margin: 0; padding: 0;
	background: #E3EDC2; color: #333;
	font: small "Lucida Grande", Arial, sans-serif;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

p {
	margin: 0 0 1em;
}

/* ------------- masthead styles */

#masthead {
	margin-bottom: 1.75em; padding-top: 1px;
	background: #ABD240;
}

#homelink {
	display: block;
	margin: 1em 2em 1em; padding: 2em 0 0.5em 1em;
	background: url(../images/curl.gif) 100% 100% no-repeat;
}

#navlinks {
	margin: 0; padding: 0.5em 3em;
	background: #686397; color: #FFF;
}

#navlinks li {
	display: inline;
	margin-right: 0.5em; padding-right: 0.75em;
	border-right: 1px solid #99C;
	font-weight: bold;
}

#navlinks li.last {
	border-right: 0;
}

#navlinks a {
	color: #D4EC84;
}

#today {
	margin-top: -1.66em; padding: 0 2em 0 0;
	color: #FFF;
	font-weight: bold;
	text-align: right;
	line-height: 1;
}

/* ------------- main column styles */

#content {
	float: left;
	padding: 0 20em 4em 3em;
}

#content h1 {
	margin: 0 33% 1.25em -2em; padding: 0.5em 2em;
	background: #FFF; color: #686397;
	font-size: 1.5em;
}

#content h1 b {
	color: #B0D742;
}

#content h2 {
	margin: 0.5em 0; padding-bottom: 0.25em;
	border-bottom: 1px solid #B0D742;
	font-size: 1.5em;
}

#content img.illus {
	float: left;
	margin: 1em 1em 1em 0;
}

/* ------------- sidebar styles */

#sidebar {
	float: left;
	width: 17em;
	margin: 0 0 4em -18em;
}

#sidebar form, #sidebar div h3 {
	background: #9B96CA;
}

#sidebar form {
	margin: 0; padding: 0.8em;
}

#sidebar form .text {
	width: 9em;
}

#sidebar div {
	background: #3A3C2D; color: #FFF;
	padding: 0 1em 1em;
	margin-top: 0.75em;
}

#sidebar div h3 {
	font-size: 1.25em;
	margin: 0 -0.8em; padding: 0.4em 0.8em;
	text-transform: lowercase;
}

#tea-of-the-day h4 {
	margin: 0 0 0.5em; padding: 0.5em 0;
	border-bottom: 1px solid #FFF;
	font-weight: normal;
}

#tea-of-the-day p:first-line {
	font-style: italic;
}

#tea-of-the-day img {
	display: block;
	margin: 2em auto 0;
}

#post-archive table {
	margin: 0 auto;
	font-size: smaller;
}

#post-archive caption {
	margin: 1em auto 0;
	font-size: larger;
	font-weight: bold;
}

#post-archive td {
	padding: 0;
	border: 1px solid #787A6B;
	background: #5B5D4E; color: #222;
	text-align: center;
}

#post-archive table a {
	font-weight: bold;
	color: #FFF;
}

/* ------------- footer styles */

#footer {
	clear: both;
	padding: 1.5em 3em;
	background: #A0C63A;
}

#footer p {
	margin: 0;
}

#footer a {
	color: #333;
	text-decoration: underline;
}